
body{
    background-image: url("../img/img/fondo.jpg");
    color: #ffffff;
}


.titulo{
margin: 10px auto 15px 5%;
padding: 0;
text-transform: uppercase;
font-weight: 600;
}
.item{
display: block;
margin: 0;
padding: 10px;
text-align: center;
}
h4{
text-transform: uppercase;
font-weight: 600;
}
.cuerpo{
        background-image: url("../img/img/fondo.jpg");
	box-sizing: border-box;
	color: white;
	margin: 0 10% 5% 10%;
	display: inline-block;
	width: 75%;
	position: relative;
	top: 40px;
        text-align:center;
	padding: 10px;
	padding-left: 10px;
}
.doc{
    background-image: url("../img/img/fondo.jpg");
    width: 200px;
    padding: 20px;
    margin: 10px;
}
.franja{
    border:solid #1b6d85;
    display: block;
    height: 70px;
    width: 420px;
    margin: 5px;
    padding: 5px;
}
.asignada{
     background-image: url("../img/img/fondo.jpg");
}